.marquee {
    height: 144px;
    width: 2488px;
    overflow: hidden;
    position: relative;
}

.marquee:before, .marquee:after {
    position: absolute;
    top: 0;
    width: 10rem;
    height: 100%;
    content: "";
    z-index: 1;
}

.marquee:before {
    left: 0;
    background: linear-gradient(to right, white 0%, transparent 100%);
}

.marquee:after {
    right: 0;
    background: linear-gradient(to left, white 0%, transparent 100%);
}

.marquee-content {
    list-style: none;
    height: 100%;
    gap: 20px;
    display: flex;
    animation: scrol 10s linear infinite;
}

@keyframes scrol {
    0% { transform: translateX(0) }
    100% { transform: translateX(-2328px) }
}

/* .marquee-content:hover {
    animation-play-state: paused;
} */

.slider {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 1px solid white;
    height: 144px;
    width: 291px;
    border-radius: 5px;
    flex-shrink: 0;
    white-space: nowrap;
}

.slides {
    width: 216px;
    height: 94px;
}
